{% extends 'base.html.twig' %}

{% block title %}Hello CvController!{% endblock %}

{% block body %}
    <div class="ui container">
        {% include "home/include/_title.html.twig" %}
    </div>

    <div class="ui divider"></div>


    {% include "home/include/_footer.html.twig" %}
{% endblock %}
