<div class="ui inverted menu">
    <div class="item">
        <h1>Quentin BISIAUX</h1>
    </div>
    <a class="item">
        A Propos
    </a>
    <a class="item">
        Portfolio
    </a>
    <a class="item">
        CV
    </a>
    <div class="right menu">
        <a class="ui item">
            Contact
        </a>
    </div>
</div>