{% extends 'base.html.twig' %}

{% block title %}Quentin BISIAUX{% endblock %}

{% block body %}

    <div class="ui container">
        {% include "home/include/_title.html.twig" %}
    </div>

    <div class="ui divider"></div>

    <div class="ui container">
        {% include "home/include/_projects.html.twig" %}
    </div>

{% endblock %}
