{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <div class="ui container">
        <div class="ui top attached tabular menu">
            <a class="item active" data-tab="portfolio">Portfolio</a>
            <a class="item" data-tab="cv">CV</a>
            <a class="item" data-tab="infos">Informations Personnelles</a>
        </div>
        <div class="ui bottom attached tab segment" data-tab="portfolio">
            <div class="ui two column centered grid">
                <div class="column centered aligned">
                    <a href="{{ path("project_new") }}" class="ui purple basic button">
                        Ajouter Projet
                    </a>
                </div>
            </div>
            <div class="ui unstackable items">

            {% for project in projects %}
                <div class="item">
                    <div class="image">
                        <img src="/images/wireframe/image.png">
                    </div>
                    <div class="content">
                        <a class="header">Header</a>
                        <div class="meta">
                            <span>Description</span>
                        </div>
                        <div class="description">
                            <p></p>
                        </div>
                        <div class="extra">
                            Additional Details
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="ui bottom attached tab segment" data-tab="cv">
            Second
        </div>
        <div class="ui bottom attached tab segment active" data-tab="infos">
            Third
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $('.menu .item')
            .tab()
        ;
    </script>
{% endblock %}
