<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/assets/semantic.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include "home/include/_navbar.html.twig" %}
        {% block body %}{% endblock %}
        <script
                src="http://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous"></script>
        <script src="/assets/semantic.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
